body {
  background-image: url('https://bit.ly/2B1g90w');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color: white;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
