.book-stats {
  width: 33%;
  display: inline-block;
}
#statistics {
  background-color: white;
  color: #8d6a58;
  text-align: center;
  margin-bottom: 15px;
}
.book-stats h2 {
  font-size: 18px;
  font-weight: bold;
}
.jumbotron {
  /* margin-bottom: 200px; */
  background-color: white;
}
.jumbotron h1 {
  font: 400 150px/1.3 'Arizonia', Helvetica, sans-serif;
}
nav a {
  color: #8d6a58;
}
.dropdown {
  padding-top: 25px;
  margin: auto;
  text-align: center;
}
.carousel-item {
  text-align: center;
  margin: auto;
}
#carousel-header {
  font-size: 50px;
}
