body {
  background-image: url('https://bit.ly/2B1g90w');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.jumbotron {
  background-color: #8d6a58;
  height: 500px;
  text-align: center;
  vertical-align: middle;
  width: 60%;
  margin: auto;
  opacity: .97;
}
.jumbotron h1 {
  font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  font-size: 36px;
}
.jumbotron label {
  font-size: 12px;
}
input[name=commit] {
  background-color: #8d6a58;
  color: white;
}
